body {
  height: auto !important;
  background-image: url("../src/brickwall.png") !important;
}

.relative {
  position: relative;
}

.form_wrapper {
  display: flex;
  justify-content: center;
}

.file {
  display: none;
}

.category_title {
  color: rgba(0,0,0,.6);
  margin-top: 10px;
}

.user.icon,
.archive.icon {
  margin-left: 5px !important;
}

.ui.basic.button {
  color: rgba(0,0,0,.6) !important;
  font-weight: 700 !important;
}

.menu.transition {
  margin-top: 5px !important;
}

.rc-calendar-range-right .rc-calendar-time-picker-panel {
  left: 0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ui.page.modals.transition.visible {
  display: flex !important;
}

.ui.card {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(0,0,0,0.1) !important;
}

ui.icon.input {
  width: 250px !important;
}

.ui.selection.dropdown {
  min-width: 150px !important;
}


