.header_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,.8);
    z-index: 99;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.header_menu:hover {
    background-color: rgba(255,255,255, 1);
}

.menu_item {
    cursor: pointer;
    color: rgba(0,0,0,.6);
    font-weight: 700;
}

.menu_item:hover {
    color: black;
}

.ui.input>input {
    background: rgba(255,255,255,.8) !important;
}