.lot_container {
    margin-top: 120px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 10px;
}

.lot_info {
    padding-top: 120px !important;
}

.lot_page_btn {
    width: 80px;
}

.lot_page_finished {
    font-size: 20px;
    color: red;
}

.lot_page_pending {
    font-size: 20px;
    color: black;
}

.lot_price {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.lot_seller {
    font-weight: bold;
    opacity: 0.8;
}

.lot_description {
    margin-bottom: 5px;
}

.comments_container {
    margin: 10px 0;
    text-align: left;
}

.hidden {
    display: none !important;
}
